[user]
	name = Jeff Fowler
	email = jeffowler@gmail.com

[core]
	excludesfile = ~/.gitignore

[init]
	defaultBranch = main

[alias]
	co = "!f() { echo 'Use switch and restore!'; }; f"
	rpull = pull --rebase
	touched = "!f() { git diff --name-only $(git merge-base HEAD master); }; f"
	diffm = "!f() { git diff $(git merge-base HEAD master); }; f"
	cp = cherry-pick
	wip = for-each-ref --sort='authordate:iso8601' --format=' %(color:green)%(authordate:relative)%09%(color:blue)%(refname:short)' refs/heads

[includeIf "gitdir:~/development/"]
	path = ~/.gitconfig-work
